<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title><%= current_page.data.title || "I Want In." %></title>

  <%= stylesheet_link_tag "style" %>

</head>

<body class="<%= page_classes %>">

  <div class="page-wrap">

    <%= yield %>

    <%= partial "partials/footer" %>

  </div>

  <%= javascript_include_tag  "home" %>

</body>

</html>
